@{
    ViewData["Title"] = "Home Page";
}


<nav class="navbar navbar-light">
    <a class="navbar-brand" asp-area="" asp-controller="Person" asp-action="all">Persons</a>
</nav>
<div class="text-center" style="padding-top: 100px">
    <h1 class="display-4">Welcome</h1>
</div>
